body {
    background-color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;

}

.cover {
    background-image: url("https://i.pinimg.com/originals/b4/48/74/b44874eb14391fc9bcb2425f6ca94f60.jpg");
    background-position: center bottom;
    color: #fff;
    margin-bottom: 3rem;
    padding: 3rem 2rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

h1 {
    font-family: Roboto-Mono;
}

h2 {
    font-family: Lato;
}

p {
    font-family: Roboto;
    margin-bottom: 5px;
}

button {
    border: none;
    background-color: rgba(235, 56, 30, 0.5);
}